# Downloading the dataset from Kaggle

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("muhammadshahidazeem/customer-churn-dataset")

print("Path to dataset files:", path)

# Moving the dataset to data folder

In [1]:
!pwd

/home/abhishek.anand/Desktop/Customer_Churn/experiment

In [ ]:
! mv /home/abhishek.anand/.cache/kagglehub/datasets/muhammadshahidazeem/customer-churn-dataset/versions/1 /home/abhishek.anand/Desktop/Customer_Churn/data/

In [2]:
import pandas as pd

In [3]:
df = data = pd.read_csv("/home/abhishek.anand/Desktop/Customer_Churn/data/customer_churn_dataset-training-master.csv")

In [4]:
data.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = df.drop(columns=['Churn', 'CustomerID']) 
y = df['Churn']

In [10]:
X_train, y_train = train_test_split(data, test_size=0.33, random_state=42)

In [11]:
X_train

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
10963,10972.0,64.0,Female,40.0,14.0,5.0,19.0,Premium,Quarterly,509.00,29.0,1.0
163749,168560.0,29.0,Male,8.0,8.0,2.0,3.0,Basic,Quarterly,331.00,21.0,1.0
74411,76260.0,41.0,Male,12.0,4.0,0.0,15.0,Basic,Quarterly,172.00,8.0,1.0
391120,398235.0,40.0,Male,46.0,11.0,0.0,4.0,Basic,Quarterly,766.00,10.0,0.0
291114,298228.0,34.0,Female,24.0,26.0,2.0,6.0,Basic,Annual,738.49,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
259178,266292.0,22.0,Male,52.0,17.0,2.0,13.0,Standard,Annual,930.17,16.0,0.0
365838,372953.0,45.0,Male,12.0,11.0,2.0,13.0,Standard,Annual,976.76,12.0,0.0
131932,136272.0,37.0,Female,9.0,4.0,10.0,12.0,Basic,Monthly,979.00,8.0,1.0
146867,151678.0,33.0,Male,27.0,5.0,10.0,20.0,Premium,Annual,824.00,1.0,1.0
121958,125858.0,51.0,Female,56.0,26.0,7.0,10.0,Standard,Annual,951.00,19.0,1.0

In [12]:
data.duplicated().sum()

0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         440832 non-null  float64
 1   Age                440832 non-null  float64
 2   Gender             440832 non-null  object
 3   Tenure             440832 non-null  float64
 4   Usage Frequency    440832 non-null  float64
 5   Support Calls      440832 non-null  float64
 6   Payment Delay      440832 non-null  float64
 7   Subscription Type  440832 non-null  object
 8   Contract Length    440832 non-null  object
 9   Total Spend        440832 non-null  float64
 10  Last Interaction   440832 non-null  float64
 11  Churn              440832 non-null  float64
dtypes: float64(9), object(3)
memory usage: 40.4+ MB

In [14]:
data.dtypes

CustomerID           float64
Age                  float64
Gender                object
Tenure               float64
Usage Frequency      float64
Support Calls        float64
Payment Delay        float64
Subscription Type     object
Contract Length       object
Total Spend          float64
Last Interaction     float64
Churn                float64
dtype: object

In [15]:
categorical_columns = data.columns[data.dtypes == "object"]

In [19]:
categorical_columns

Index(['Gender', 'Subscription Type', 'Contract Length'], dtype='object')

In [16]:
num_columns  = data.columns[data.dtypes != "object"]

In [17]:
num_columns

Index(['CustomerID', 'Age', 'Tenure', 'Usage Frequency', 'Support Calls',
       'Payment Delay', 'Total Spend', 'Last Interaction', 'Churn'],
      dtype='object')

In [18]:
data[categorical_columns]

        Gender Subscription Type Contract Length
0       Female          Standard          Annual
1       Female             Basic         Monthly
2       Female             Basic       Quarterly
3         Male          Standard         Monthly
4         Male             Basic         Monthly
...        ...               ...             ...
440828    Male           Premium          Annual
440829  Female           Premium          Annual
440830    Male          Standard       Quarterly
440831    Male          Standard       Quarterly
440832    Male           Premium       Quarterly

[440833 rows x 3 columns]

In [20]:
# Define mapping dictionaries for each categorical column
gender_map = {
    'Male': 1,
    'Female': 0
}

subscription_type_map = {
    'Basic': 1, 
    'Standard': 2, 
    'Premium': 3
}

contract_length_map = {
    'Annual': 1, 
    'Monthly': 2, 
    'Quarterly': 3
}

In [21]:
df['Gender'] = df['Gender'].replace(gender_map)
df['Subscription Type'] = df['Subscription Type'].replace(subscription_type_map)
df['Contract Length'] = df['Contract Length'].replace(contract_length_map)

/tmp/ipykernel_22475/2984474636.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'] = df['Gender'].replace(gender_map)
/tmp/ipykernel_22475/2984474636.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Subscription Type'] = df['Subscription Type'].replace(subscription_type_map)
/tmp/ipykernel_22475/2984474636.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Contract Length'] = df['Contract Length'].replace(contract_length_map)

In [22]:
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,0.0,39.0,14.0,5.0,18.0,2.0,1.0,932.0,17.0,1.0
1,3.0,65.0,0.0,49.0,1.0,10.0,8.0,1.0,2.0,557.0,6.0,1.0
2,4.0,55.0,0.0,14.0,4.0,6.0,18.0,1.0,3.0,185.0,3.0,1.0
3,5.0,58.0,1.0,38.0,21.0,7.0,7.0,2.0,2.0,396.0,29.0,1.0
4,6.0,23.0,1.0,32.0,20.0,5.0,8.0,1.0,2.0,617.0,20.0,1.0

In [28]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
import pandas as pd

# Updated mapping dictionaries
gender_map = {
    'Male': 1,
    'Female': 0
}

subscription_type_map = {
    'Basic': 1, 
    'Standard': 2, 
    'Premium': 3
}

contract_length_map = {
    'Annual': 1, 
    'Monthly': 2, 
    'Quarterly': 3
}

# Define preprocessing pipelines for numeric data
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # Handle missing values in numeric columns
    ('scaler', StandardScaler())  # Scale numeric columns
])

# Function to map categories in categorical columns
def map_categories(x):
    return {
        **gender_map,
        **subscription_type_map,
        **contract_length_map
    }.get(x, x)  # Apply mapping only for values in the dictionaries, otherwise leave as is

# Preprocessing pipeline for categorical columns
cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Handle missing categorical values
    ('mapper', FunctionTransformer(lambda x: pd.DataFrame(x).applymap(map_categories)))  # Apply mapping
])

# Combine the pipelines into a ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num_pipeline', num_pipeline, ['Age', 'Tenure', 'Usage Frequency', 'Support Calls', 'Payment Delay', 'Total Spend']),  # Numeric columns
        ('cat_pipeline', cat_pipeline, ['Gender', 'Subscription Type', 'Contract Length'])  # Categorical columns
    ]
)

# Apply preprocessor to your dataframe (assuming it's named 'df')
processed_df = preprocessor.fit_transform(df)

# Convert the processed data back to DataFrame
processed_df = pd.DataFrame(processed_df, columns=['Age', 'Tenure', 'Usage Frequency', 'Support Calls', 'Payment Delay', 'Total Spend', 'Gender', 'Subscription Type', 'Contract Length'])

# Display the processed DataFrame
processed_df.head()

/tmp/ipykernel_22475/1902863365.py:42: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ('mapper', FunctionTransformer(lambda x: pd.DataFrame(x).applymap(map_categories)))  # Apply mapping

,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Gender,Subscription Type,Contract Length
0,-0.753327,0.448760,-0.210511,0.454550,0.609621,1.247428,0.0,2.0,1.0
1,2.059648,1.028279,-1.724564,2.083102,-0.601319,-0.309865,0.0,1.0,2.0
2,1.255941,-1.000038,-1.375167,0.780260,0.609621,-1.854700,0.0,1.0,3.0
3,1.497053,0.390808,0.604749,1.105971,-0.722413,-0.978463,1.0,2.0,2.0
4,-1.315922,0.043097,0.488283,0.454550,-0.601319,-0.060698,1.0,1.0,2.0

In [26]:
print(df.columns)

Index(['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction', 'Churn'],
      dtype='object')